extends /_layout/_index


block content
  .p-home-visual
  h2.c-page-title 文章テスト
  p あああああああ
  p あああああああ
  p あああああああ
  p あああああああ
  p あああああああ
  p あああああああ
  p あああああああ
  p あああああああ
  p あああああああ
  p あああああああ

